body, p, ol, ul, td, th, input, textarea {
   font-family: helvetica, verdana, arial, sans-serif;
   font-size:   16px;
   font-weight: normal;
}

/*body, p, ol, ul {
  line-height: 21px;
}*/

body {
   margin: 0px;
}

body, .reset{
   color: #222;
   font-style: normal;
   font-weight: normal;
}

ul {
   list-style-type: none;
}

.clear {
   clear:both;
}

.project {
   position:relative;
   clear:both;
   margin: 5px;
}

.project h1 {
   color: #333;
}

.card {
   position: relative;
   float:left;
   width: 400px;
   min-height: 150px;
   border: 1px solid #333;
   margin: 5px;
}

.card-content {
   padding: 2px;
}

.story-name {
   font-weight: bold;
   font-size: 1.25em;
   border-bottom: 1px solid red;
}

.story-description {
   padding: 5px;
}

.story-owned_by {
   font-weight: bold;
   float:right;
   position:absolute;
   bottom: 0px;
   right: 0px;
}

.story-url {
   position: absolute;
   bottom: 0px;
   left: 0;
}
.story-url a {
   text-decoration: none;
   font-size: smaller;
}

.story-current_state {
   position: absolute;
   bottom: 0;
   left: 160px;
   font-variant: small-caps;
   font-weight: bold;
}

.yellow { background-color: #EFDA8B;}
.blue   { background-color: #9FC1CA;}
.green  { background-color: #B9D4A1;}
.red    { background-color: #EC7B7D;}

.finished  { background-color: #EFDA8B;}
.unstarted  { background-color: #9FC1CA;}
.delivered   { background-color: #B9D4A1;}
.started { background-color: #EC7B7D;}
