body, p, ol, ul, td, th, input, textarea {
   font-family: helvetica, verdana, arial, sans-serif;
   font-size:   12px;
   font-weight: normal;
}

body {
   margin: 0px;
}

body, .reset{
   color: #404040;
   background-color: #E5E5E5;
   font-style: normal;
   font-weight: normal;
}

ul {
   list-style-type: none;
}

a {
   text-decoration: none; 
}

.clear {
   clear:both;
}

#menu {
   padding: 0 0 0 5px;
}


#menu span {
   padding-left: 3px;
   padding-right: 3px;
   font-weight: bold;
   font-size: larger;
}

.group-by {
   position:relative;
   clear:both;
   margin: 5px;
}

.card {
   position: relative;
   float:left;
   width: 300px;
   border: 1px solid #999;
   margin: 5px;
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
   -webkit-box-shadow: rgba(0, 0, 0, 0.5) 5px 5px 5px;
   -moz-box-shadow: rgba(0, 0, 0, 0.5) 5px 5px 5px;
}

.card-content, .card-title, .card-body {
   padding: 3px;
}

.story-name {
   font-weight: bold;
   font-size: 1.25em;
   border-bottom: 1px solid #909090;
}

.story-description {
   color: #505050;
   margin: 15px;
}

.card-footer {
   padding: 5px;
}

.card-footer > div {
   margin-right: 3px;
   margin-bottom: 2px;
   display:inline;
}
.card-footer > div.clear {
   display:block;
}

.card-body, .card-footer {
   display: none;
}

.story-owned_by {
   font-weight: bold;
}

div.story-url {
   float:right;
   text-decoration: none;
}

div.story-accepted_at {
   float:right;
}


.story-project-url {
   float: left;
}

.unstarted { background-color: #FFFFFF; }   /* white-ish */
.started   { background-color: #9FC1CA; }   /* blue      */
.finished  { background-color: #EEA679; }   /* orange    */
.delivered { background-color: #EFDA8B; }   /* yellow    */
.accepted  { background-color: #B9D4A1; }   /* green     */
.rejected  { background-color: #EC7B7D; }   /* red       */


.unstarted a { color: #999999; }   /* white-ish */
.started   a { color: #3D626C; }   /* blue      */
.finished  a { color: #A17052; }   /* orange    */
.delivered a { color: #8E771F; }   /* yellow    */
.accepted  a { color: #5D7E40; }   /* green     */
.rejected  a { color: #811415; }   /* red       */

.bug.accepted  a { color: #5D7E40; }   /* green     */
.bug  a { color: #811415; }   /* red       */

.bug {
   background-color: rgba(191, 0, 0, 0.1);
   border: 1px solid rgba(191, 0, 0, 0.5);
   -webkit-box-shadow: rgba(191, 0, 0, 0.5) 5px 5px 10px;
   -moz-box-shadow: rgba(191, 0, 0, 0.5) 5px 5px 10px;
}

.bug.accepted {background-color: #B9D4A1;}

.chore {
   border: 1px solid rgba(0,0,191, 0.5);
   -webkit-box-shadow: rgba(0, 0, 191, 0.5) 5px 5px 10px;
   -moz-box-shadow: rgba(0, 0, 191, 0.5) 5px 5px 10px;
}

.release {
   border: 2px solid rgba(0, 0, 0, 0.5);
   -webkit-box-shadow: rgba(0, 0, 0, 0.5) 5px 5px 5px;
   -moz-box-shadow: rgba(0, 0, 0, 0.5) 5px 5px 5px;
}

.feature {
   -webkit-box-shadow: rgba(0, 0, 0, 0.5) 5px 5px 5px;
   -moz-box-shadow: rgba(0, 0, 0, 0.5) 5px 5px 5px;
}
