body, p, ol, ul, td, th, input, textarea {
   font-family: helvetica, verdana, arial, sans-serif;
   font-size:   12px;
   font-weight: normal;
}

body {
   margin: 0px;
}

body, .reset{
   color: #404040;
   background-color: #FFF;
   font-style: normal;
   font-weight: normal;
}

ul {
   list-style-type: none;
}

.clear {
   clear:both;
}

.project {
   position:relative;
   clear:both;
   margin: 5px;
}

.card {
   position: relative;
   float:left;
   width: 300px;
   border: 1px solid #999;
   margin: 10px;
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
   -webkit-box-shadow: rgba(0, 0, 0, 0.5) 5px 5px 5px;
   -moz-box-shadow: rgba(0, 0, 0, 0.5) 5px 5px 5px;
}

.card-content, .card-title, .card-body {
   padding: 3px;
}

.story-name {
   font-weight: bold;
   font-size: 1.25em;
   border-bottom: 1px solid #909090;
}

.story-description {
   color: #505050;
   padding: 15px;
}

.card-others {
   padding: 5px;
}

.card-other {
   margin-right: 5px;
   display:inline;
}

div.story-accepted_at {
   display:block;
   float:none;
   clear:both;
}

.unstarted { background-color: #F4F7FB; }   /* white-ish */
.started   { background-color: #9FC1CA; }   /* blue      */
.finished  { background-color: #EEA679; }   /* orange    */
.delivered { background-color: #EFDA8B; }   /* yellow    */
.accepted  { background-color: #B9D4A1; }   /* green     */
.rejected  { background-color: #EC7B7D; }   /* red       */

#menu {
   padding: 0 0 0 5px;
}


#menu span {
   padding-left: 3px;
   padding-right: 3px;
   font-weight: bold;
   font-size: larger;
}
